In [3]:
import pandas as pd 

name=(['Alice', 'Bob', 'Charlie'])
age=([25, 30, 35])
contaier=pd.Series(name, index=age)
print(contaier)

dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
pd.Series(dictionary1)

25      Alice
30        Bob
35    Charlie
dtype: object

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [7]:
x=pd.Series([4,65,436,3,9])
y=pd.Series([7,0,3,897,9])
if len(x) == len(y):
    print("The two series have the same length.")
    length=len(x)
elif len(x) > len(y):
    print("Series x is longer than series y.")
    length=len(x)
else:
    print("Series y is longer than series x.")
    length=len(y)
print(length)
for i in range(length):
    if x[i] > y[i]:
        print(f"x[{i}] is greater than y[{i}].")
    elif x[i] < y[i]:
        print(f"x[{i}] is less than y[{i}].")
    else:
        print(f"x[{i}] is equal to y[{i}].")

The two series have the same length.
5
x[0] is less than y[0].
x[1] is greater than y[1].
x[2] is greater than y[2].
x[3] is less than y[3].
x[4] is equal to y[4].

In [12]:
a=pd.Series([2,4,6,8,14])
b=pd.Series([1,3,5,7,9])
df_sum=a.add(b, fill_value=0)
print(df_sum)
df_minus=a.sub(b)
print(df_minus)
df_multiply=a.mul(b)
print(df_multiply)
df_divide=a.div(b)
print(df_divide)

0     3
1     7
2    11
3    15
4    23
dtype: int64
0    1
1    1
2    1
3    1
4    5
dtype: int64
0      2
1     12
2     30
3     56
4    126
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [ ]:
ser = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])
types = [str, int, str, float, str, bool]
ser = pd.Series([t(v) for v, t in zip(ser, types)])
print(ser)
numpy_array = ser.to_numpy()
print("\nNumPy array:")
print(numpy_array)
print(f"Dtype of the NumPy array: {numpy_array.dtype}")

0     Love
1      800
2      Joy
3    789.9
4    Peace
5     True
dtype: object

NumPy array:
['Love' 800 'Joy' 789.9 'Peace' True]
Dtype of the NumPy array: object
0      1.0
1      NaN
2      4.0
3      4.0
4      1.0
      ...
617    0.0
618    1.0
619    2.0
620    0.0
621    0.0
Name: HomeTeamGoals, Length: 622, dtype: float64 0    1.0
Name: HomeTeamGoals, dtype: float64

In [19]:
df = pd.read_csv('AfricaCupofNationsMatches.csv')
mode_check = df['HomeTeamGoals'].mode().sort_values(ascending=False)
print(df['HomeTeamGoals'].mode())
print(df[['HomeTeamGoals','HomeTeam']], mode_check)

0    1.0
Name: HomeTeamGoals, dtype: float64
     HomeTeamGoals     HomeTeam
0              1.0       Sudan
1              NaN    Ethiopia
2              4.0       Egypt
3              4.0        Egypt
4              1.0       Sudan
..             ...          ...
617            0.0  Madagascar
618            1.0     Senegal
619            2.0     Algeria
620            0.0     Tunisia
621            0.0     Senegal

[622 rows x 2 columns] 0    1.0
Name: HomeTeamGoals, dtype: float64

In [ ]:


home_goals_series = df['HomeTeamGoals']

most_frequent_values = home_goals_series.mode()
if not most_frequent_values.empty:
    target_mode = most_frequent_values.iloc[0]
else:
    target_mode = None 

modified_home_goals = home_goals_series.copy()

# Use .loc for setting values based on a condition
if target_mode is not None:
    modified_home_goals.loc[modified_home_goals != target_mode] = 'Other'
else:
    modified_home_goals[:] = 'Other'


print("Series with other values replaced by 'Other':")
print(modified_home_goals.head(10))

Most frequent value(s) in 'HomeTeamGoals':
0    1.0
Name: HomeTeamGoals, dtype: float64
------------------------------
Series with other values replaced by 'Other':
0      1.0
1    Other
2    Other
3    Other
4      1.0
5    Other
6    Other
7    Other
8    Other
9    Other
Name: HomeTeamGoals, dtype: object

C:\Users\user\AppData\Local\Temp\ipykernel_1532\1438195801.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  modified_home_goals.loc[modified_home_goals != target_mode] = 'Other'

In [9]:
df = pd.read_csv('AfricaCupofNationsMatches.csv')
df.head(7)
data = df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']].head(10)
print(data)

    HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0     Sudan           Egypt            1.0            2.0
1  Ethiopia    South Africa            NaN            NaN
2     Egypt        Ethiopia            4.0            0.0
3      Egypt       Ethiopia            4.0            0.0
4     Sudan        Ethiopia            1.0            0.0
5      Egypt          Sudan            2.0            1.0
6  Ethiopia         Tunisia            4.0            2.0
7      Egypt         Uganda            2.0            1.0
8   Tunisia          Uganda            3.0            0.0
9  Ethiopia           Egypt            4.0            2.0

In [29]:
df4= df[df["HomeTeam"] == "Egypt"]
print(f"Data for home team 'Egypt':\n{df4}")

Data for home team 'Egypt':
    Year      Date  Time  HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals  \
3   1959  22-May-59   NaN    Egypt   Ethiopia            4.0            0.0
5   1959  29-May-59   NaN    Egypt      Sudan            2.0            1.0
7   1962  18-Jan-62   NaN    Egypt     Uganda            2.0            1.0
13  1963  24-Nov-63   NaN    Egypt    Nigeria            6.0            3.0
14  1963  26-Nov-63   NaN    Egypt      Sudan            2.0            2.0
16  1963  30-Nov-63   NaN    Egypt   Ethiopia            3.0            0.0

                Stage SpecialWinConditions                 Stadium  \
3    Final Tournament                  NaN   Prince Farouk Stadium
5    Final Tournament                  NaN   Prince Farouk Stadium
7          Semifinals                  NaN  Hailé Sélassié Stadium
13            Group B                  NaN   Kumasi Sports Stadium
14            Group B                  NaN   Kumasi Sports Stadium
16  Third place match                  NaN    Accra Sports Stadium

            City  Attendance
3          Cairo     30000.0
5          Cairo     30000.0
7    Addis Ababa     30000.0
13        Kumasi         NaN
14        Kumasi         NaN
16         Accra         NaN

In [27]:
df5=pd.DataFrame([[1,2],[3,4],[5,6]], columns=list('AB'), index=list('XYZ'))
print(f"DataFrame df5:\n{df5}")

DataFrame df5:
   A  B
X  1  2
Y  3  4
Z  5  6

In [33]:
df['Attendance'] = pd.to_numeric(df['Attendance'], errors='coerce')

df6 = df[df['Attendance'].isna()]
nan_count = df['Attendance'].isna().sum()
print(f"DataFrame df6 with missing Attendance values:\n{df6}")
print(f"DataFrame df7 with Attendance NaN count:\n{nan_count}")

DataFrame df6 with missing Attendance values:
     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]
DataFrame df7 with Attendance NaN count:
100

In [36]:
criteria = (df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)
top_scoring_teams = df[criteria]
print("Teams with HomeTeamGoals between 3 and 6:")
print(top_scoring_teams[['HomeTeam', 'HomeTeamGoals']])

away_team_goals = df["AwayTeamGoals"].copy()
away_team_goals.iloc[3] = 10
print(away_team_goals.iloc[3])

Teams with HomeTeamGoals between 3 and 6:
      HomeTeam  HomeTeamGoals
2       Egypt             4.0
3        Egypt            4.0
6    Ethiopia             4.0
8     Tunisia             3.0
9    Ethiopia             4.0
..         ...            ...
553   Morocco             3.0
585     Kenya             3.0
595      Mali             4.0
608   Nigeria             3.0
611   Algeria             3.0

[138 rows x 2 columns]
10.0

In [41]:
first=df.sort_values(by='HomeTeam', ascending=True)
second=df.sort_values(by='HomeTeamGoals', ascending=False)
print("\nSorted by HomeTeam in ascending order:")
print(first.head(10))
print("\nSorted by HomeTeamGoals in descending order:")
print(second.head(10))

Sorted by HomeTeam in ascending order:
     Year                         Date   Time   HomeTeam   AwayTeam  \
403  2004                      3-Feb-04  14:00  Algeria    Zimbabwe
229  1992                     17-Jan-92    NaN  Algeria       Congo
291  1998                      8-Feb-98  20:30  Algeria      Guinea
544  2017  15 January 2017 (2017-01-15)  17:00  Algeria    Zimbabwe
148  1982                      7-Mar-82    NaN  Algeria      Zambia
29   1968                     14-Jan-68    NaN  Algeria      Uganda
151  1982                     13-Mar-82    NaN  Algeria    Ethiopia
220  1990                     16-Mar-90  16:00  Algeria     Nigeria
193  1988                     19-Mar-88    NaN  Algeria       Zaire
546  2017  19 January 2017 (2017-01-19)  17:00  Algeria     Tunisia

     HomeTeamGoals  AwayTeamGoals    Stage SpecialWinConditions  \
403            1.0            2.0  Group C                  NaN
229            1.0            1.0  Group C                  NaN
291            0.0            1.0  Group A                  NaN
544            2.0            2.0  Group B                  NaN
148            1.0            0.0  Group B                  NaN
29             4.0            0.0  Group A                  NaN
151            0.0            0.0  Group B                  NaN
220            1.0            0.0    Final                  NaN
193            1.0            0.0  Group A                  NaN
546            1.0            2.0  Group B                  NaN

                       Stadium          City  Attendance
403  Stade Olympique de Sousse        Sousse     10000.0
229   Stade Aline Sitoe Diatta    Ziguinchor      5000.0
291            Stade Municipal   Ouagadougou      3000.0
544       Stade de Franceville   Franceville         NaN
148           28 March Stadium      Benghazi      5000.0
29      Hailé Sélassié Stadium   Addis Ababa     25000.0
151           28 March Stadium      Benghazi      5000.0
220       Stade 5 Juillet 1962       Algiers    105032.0
193            Stade Mohamed V    Casablanca     75000.0
546       Stade de Franceville   Franceville         NaN

Sorted by HomeTeamGoals in descending order:
     Year      Date   Time       HomeTeam              AwayTeam  \
13   1963  24-Nov-63    NaN         Egypt               Nigeria
46   1970  10-Feb-70    NaN  Ivory Coast               Ethiopia
21   1965  12-Nov-65    NaN        Ghana    Congo-Léopoldville
20   1965  19-Nov-65    NaN      Senegal               Ethiopia
400  2004  29-Jan-04  16:30     Cameroon               Zimbabwe
270  1996  20-Jan-96    NaN       Zambia           Burkina Faso
464  2008  26-Jan-08  17:00     Cameroon                 Zambia
475  2008   3-Feb-08  20:30  Ivory Coast                 Guinea
72   1972   4-Mar-72    NaN     Cameroon                  Zaire
306  1998  16-Feb-98  20:00  Ivory Coast                 Angola

     HomeTeamGoals  AwayTeamGoals              Stage SpecialWinConditions  \
13             6.0            3.0            Group B                  NaN
46             6.0            1.0            Group A                  NaN
21             5.0            2.0            Group B                  NaN
20             5.0            1.0            Group A                  NaN
400            5.0            3.0            Group C                  NaN
270            5.0            1.0            Group B                  NaN
464            5.0            1.0            Group C                  NaN
475            5.0            0.0     Quarter-finals                  NaN
72             5.0            2.0  Third place match                  NaN
306            5.0            2.0            Group C                  NaN

                   Stadium           City  Attendance
13   Kumasi Sports Stadium         Kumasi         NaN
46       Municipal Stadium       Khartoum      9770.0
21   Stade Bou Ali Lahouar         Sousse         NaN
20    Stade Chedli Zouiten          Tunis         NaN
400   Stade Taïeb El Mhiri           Sfax     15000.0
270     Free State Stadium   Bloemfontein      2000.0
464      Baba Yara Stadium         Kumasi     10000.0
475        Sekondi Stadium        Sekondi     14000.0
72        Stade Omnisports        Yaoundé         NaN
306        Stade Municipal    Ouagadougou      4000.0

In [42]:
print(list(df.columns))

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']